* { margin:0; padding: 0; 
	font-family: 'helvetica neue', sans-serif; 
	line-height: 1.5em;  
	color: #444;
}

#container {
	margin: auto;
	width: 30em;
	margin-top: 1.5em;
}

textarea {
	width: 100%;
	padding: .5em;
	height: 100px;
	font-size: 16px;
	margin-top: .75em;
	border: 2px solid #ccc;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#output {
	border: 2px solid #9f9;
	display: none;
	color: #777;
}

h1 { margin-bottom: .5em; font-weight: 500; }

footer { margin-top: 1.5em; }

quiet { font-size: .75em; color: #777;}
